# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/


# now my stuff


# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.pub-cache/
.pub/

# Flutter package specifics
example/.dart_tool/
example/build/
example/.flutter-plugins
example/.flutter-plugins-dependencies

# Native build artifacts
*.so
*.o
*.a
hook/.dart_tool/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
